# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
env/
.venv/

# =========================
# Jupyter Notebook checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# Data files
# =========================
data/News_Category_Dataset.json

# =========================
# Model files
# =========================
*.pkl
*.joblib

# =========================
# Streamlit cache
# =========================
.streamlit/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log